body {
  background-image: url("https://wallpaperaccess.com/full/3014596.jpg");
  background-size: cover;
}
.up-box{
  width:900px;
  float:right;
  border:1px solid none;
}
.up-box ul li{
  width:120px;
  float:left;
  margin: 10px auto;
  text-align:center;
}
.up-box ul li a{
  text-decoration: none;
  color:White;
}
.up-box ul li:hover{
  background-color: green;
}
.up-box ul li:hover{
  color:black;
}
